@charset "UTF-8" ;
/*Isso é pra pegar acentuação e cabeçalho*/

body{
    background-color: rgb(169, 228, 178)
}

@font-face {
    font-family: 'aladdin';
    src: url('aladdin.ttf');
    /*Mostra o caminho de onde a fonte está */
}
div#interface {
    width: 500px;
    background-color: #aaaaaa;
    margin: -230px 230px 0px 170px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, -5);
    padding: 10;
}
h1{
    font-family: aladdin;
    font-size: 50px;
    color:blue;
    text-shadow: 5px 5px 5px black;
}
p{
/*Alterações em parágrafos <p>*/
    color: black(0,0,0);
    /*Define a cor do texto para preto*/
    text-align: justify;
    /*Alinhamento justificado = Após o 1° parágrafo o texto irá colocar no lado esquerdo*/
    text-indent: 20px;
    /*Define identação = O primeiro parágrafo terá 20 pixels da margem esquerda*/
}