@charset "UTF-8" ;

body{
    background-color: rgb(100, 150, 50)
}

@font-face {
    font-family: 'aladdin';
    src: url('aladdin.ttf');
}
div#interface {
    width: 500px;
    height: 600px;
    background-color: rgb(100, 100, 70);
    margin: -450px 230px 0px 170px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, -5);
    overflow: auto;
}
h1{
    font-family: aladdin;
    font-size: 50px;
    color:blue;
    text-shadow: 5px 5px 5px black;
}
p{
    color: black(0,0,0);
    text-align:left;
    text-indent: 20px;
}