@charset "UTF-8" ;
/*Isso é pra pegar acentuação e cabeçalho*/

/* @import ulr = importar fonte do google*/

@font-face {
    font-family: 'FonteLogo';
    /*Aqui damos um nome pra fonte*/
    src: url("bubblegum-sans-regular.otf");
    /* 2 pontos pois voltamos pra pasta principal pra localizar o arquivo da fonte */
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddddd;
    color: rgba(0, 0, 0, 1);
}
/* Comentário em CSS */
/*background-color encima está definindo o fundo do site pra verde claro*/
/*background-image: url("NomeDoArquivo.jpg"); = serve pra adicionar o fundo sendo o arquivo. Note que o arquivo precisa estar na mesma área do index*/
/*color está defindo a cor da letra pra vermelhor */
/*A cor pode ser escrita normalmente ( yellow, green, etc ), hexadecimal ( Ex : #a1d3ef ou a1 é a parte vermelha, d3 parte verde e ef parte azul), rgb(35, 137, 195) , rgba (0,0,0,0) onde o último 0 é transparência pode ser 0 até 1, hsl(M, S%, L%) = MatizSaturaçãoLuminosidade*, hsla ( M, S%, L%, A) onde A é Alpha */

div#interface {
    width: 900px;
    /*Largura da div*/
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    /*Parte externa da div : Cima Direita Baixo Esquerda*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    /*Sombreamento da div*/
    padding: 10px 10px 10px 10px;
    /*Parte em volta dos conteúdos da div*/
    /*Antes as palavras grudavam na parede do site, agora não*/
    /*Se todos valores forem iguais pode por só 1x que o navegador irá entender*/
}

p{
    text-align: justify;
    text-indent: 50px;
}

a {
/* Dizendo que todo link não tem cor*/
    color: #606060;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    /* Quando passar o mouse por cima vai sublinhar */
}

header#cabecalho img#icone {
    position: absolute;
    /* Absoluto pois vai ficar encima*/
    left: 780px;
    top: 70px;
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    /* Parte de baixo : largura da borda, cor da borda, formato da borda*/ 
    height: 150px;
    /* Altura do da linha*/
    background: url("glass-logo-peq.jpg") no-repeat 0px 80px;
    /* Carregando imagem através do CSS*/
    /* Note que estamos na pasta CSS, por isso usa-se .. pra poder voltar*/
    /* Como a imagem é pequena, ele replicou colocando em tudo*/
    /* Usando no-repeat vai fazer com que não replique*/
    /* Medidas após o no-repeat : Deslocamento lateral e Deslocamento vertical */
}

header#cabecalho h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1xp rgba(0,0,0,0);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: Arial, sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

/* Formatação de imagens com legendas */

figure.foto-legenda {
/*Aqui está configurando as imagens do site que tem a classe foto-legenda*/
    position: relative;
    /*Posição no código HTML*/
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img{
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    /*Isso vai deixar com que o texto fique invisível*/
    position: absolute;
    /*Vai ficar na posição absoluta do seu pai o figure*/
    top:0px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 50px;
    /* Espaçamento dentro do objeto */
    box-sizing: border-box;
    /*Corrige o salto pra fora do fundo*/
    transition: opacity 1s;
}
figure.foto-legenda:hover figcaption {
    opacity: 1;
}

/* Formatação do Menu*/

nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    /* Isso some com as marcações */
    text-transform: uppercase;
    /* Isso deixa todas as letras em Maiúsculo */
    position: absolute;
    top: -20px;
    left: 300px;
}
nav#menu li {
    display: inline-block;
    /* Isso deixa o texto todo na horizontal */
    background-color: #dddddd;
    /* cor de fundo */
    padding: 10px;
    margin: 2px;
    /*Espaçamento fora do objeto */
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    -ms-transition: background-color 1s;
    transition: background-color 1s;
}
nav#menu li:hover {
    background-color: #606060;    
}
nav#menu h1 {
    display: none
}
/* Visitar o prefxer e colocar o código : transition: background-color 1s; */

nav#menu a {
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover {
/* Seeletor CSS que seleciona todas as tags de ancora (a) dentro de um elemento com o id de "menu" e que estejam em hover (quando o mouse estiver sobre o elemento selecionado). */
    color: #ffffff;
    text-decoration: underline;
}

section#corpo {
    display: block;
    /* Por ser um bloco ele pode flutuar */
    width: 600px;
    float: left;
    /* Ele irá flutuar em direção a esquerda*/
    padding: 2%;
    border-right: 0.5px solid #606060;
    margin-top: 0px;
}

article#noticia-principal h2 {
    font-size: 12pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
}

.direita {
    text-align: right;
}

header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
    margin-top: 0px;
}

header#cabecalho-artigo h3 {
    font-size: 12px;
    color: #606060;
    margin-top: 0px;
}

table#tabelaspec {
    border: 1px solid #606060;
    /*Borda externa da tabela*/
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabelaspec td {
    border: 1px solid #606060;
    /* Bordas de dentro*/
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

table#tabelaspec td.ce {
    color: #ffffff;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
    /* Palavra em Negrito */

}
    /* td.ce = Identifica uma tabela */
    /* A classe se sobrepõe ao ID */

table#tabelaspec td.cd {
    background-color: #cecece;
}

table#tabelaspec caption {
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}

table#tabelaspec caption span {
    display: block;
    float: right;
    color:#000000;
    font-size: 8pt;
    margin-top: 10px;
}

asidade#lateral {
    display: block;
    width: 350px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

aside#lateral h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
}

aside#lateral h2 {
   /* background-color: #802a2a; */
    font-size: 13pt;
    color: #493838;
    padding: 5px */
}

footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p {
    text-align: center;
}